@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap&subset=latin-ext');

$popins: 'Poppins', sans-serif;

$dektop-width: 1440px;

$thicknessBorderPage: 1rem;

$black: #000;
$borderBoxColor: #171F3F;
$greyProjectsBackground: #F5F7FA;
$grey: #CBD2D9;
$yellow: #F9C802;
$white: #FFF;
$blueLinkColor: #0593FB;
$green: #06C847;
$violet: #653CAD;
$blue: #2251CC;

@mixin borderPage($thick, $color) {
    border: $thick solid $color;
    box-sizing: border-box;
}


@mixin dividerSpan($width, $height, $color){
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
}

@mixin borderProjectsCard{
    position:relative;
    -webkit-box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
       -moz-box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}