@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-size: 16px;
  font-family: $popins;
  //width: $dektop-width;

  @include borderPage($thicknessBorderPage, $borderBoxColor);
}

.author {
  padding: 8rem;
  width: 70%;

  &__description { 
    font-size: 1.2rem;
  }

  &__image {
    position: absolute;
    width: 7.1rem;
    height: 7.1rem;
    border-radius: 50%;
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
    font-size: 1.2rem;

    &--padding {
      padding-top: 3.5rem;
    }
    
  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
  }

  &__photo {
    width: 8rem;
    height: 8rem;
    border: 4px solid $grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
  }

  &__welcome {
    font-size: 2.5rem;
  }
}

.footer {
  background-color: $borderBoxColor;
  color: $white;
  padding: 8rem;

  &__description {
    font-size: 1.2rem;
  }

  &__divider span{
    @include dividerSpan(5rem, .4rem, $blueLinkColor)
  }

  &__item {
    display: inline;
    font-size: 2rem;
    margin-right: 24px;

    &--white {
      color: $white;
    }
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
  }

  &__title {
    font-size: 2rem;
  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
  }
}

.main {
  padding: 8rem; 
}

.projects {
  padding: 8rem;
  background-color: $greyProjectsBackground;

  &__about {
    padding: 3rem;

  }

  &__footer {
    background-color: $greyProjectsBackground;
    padding: 1rem 3rem;
  }

  &__item {
    background-color: $white;
    @include borderProjectsCard;
    margin: 1.4rem 0 1.4rem 0;
    border-radius: .5rem;
    width: 48%;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}



.skills {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  &__divider {
    &--green{
      @include dividerSpan(5rem, .4rem, $green)
    }
    &--blue{
      @include dividerSpan(5rem, .4rem, $blue)
    }
    &--violet{
      @include dividerSpan(5rem, .4rem, $violet)
    }
  }

  &__header {
    width: 100%;
  }

  &__item {
    width: 50%;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}