@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-size: 16px;
  font-family: $popins;
  //width: $dektop-width;

  @include borderPage($thicknessBorderPage, $borderBoxColor);
}

.author {
  padding: 8rem 8rem 4.5rem 8rem;
  width: 70%;

  &__description {
    font-size: 1.2rem;
  }

  &__image {
    position: absolute;
    width: 7.1rem;
    height: 7.1rem;
    border-radius: 50%;
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
    font-size: 1.2rem;

    &--padding {
      padding-top: 3.5rem;
    }
  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
  }

  &__photo {
    width: 8rem;
    height: 8rem;
    border: 4px solid $grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
  }

  &__welcome {
    font-size: 2.5rem;
  }
}

.footer {
  background-color: $borderBoxColor;
  color: $white;
  padding: 8rem;

  &__description {
    font-size: 1.2rem;
    line-height: 2.1rem;
    width: 40%;
  }

  &__divider span {
    @include dividerSpan(5rem, 0.4rem, $blueLinkColor);
  }

  &__item {
    display: inline;
    font-size: 2rem;
    margin-right: 24px;

    &--white {
      color: $white;
    }
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
  }

  &__title {
    font-size: 2rem;
  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
  }
}
.links__separator {
  margin: 24dp;
}
.projects {
  padding: 8rem;
  background-color: $greyProjectsBackground;

  &__about {
    padding: 3rem;
  }

  &__description {
    font-size: 1.1rem;
    line-height: 2rem;
    color: $darkGrey;
  }
  
  &__divider {
    @include dividerVertical(2rem, $grey);
  }

  &__footer {
    background-color: $greyProjectsBackground;
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    margin: 0 0.4rem 0 0;
  }

  &__item {
    background-color: $white;
    @include borderProjectsCard;
    margin: 1.4rem 0 1.4rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__links {
    display: flex;
    color: $blueLinkColor;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    &--center {
      padding: 0rem 1.2rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-style: normal;
  }
}

.skills {
  padding: 8rem;

  &-content {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    &__divider {
      &--green {
        @include dividerSpan(5rem, 0.4rem, $green);
      }

      &--blue {
        @include dividerSpan(5rem, 0.4rem, $blue);
      }
      &--violet {
        @include dividerSpan(5rem, 0.4rem, $violet);
      }
    }

    &__item {
      width: 50%;
      font-size: 1.2rem;
    }

    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    &__title {
      font-size: 2rem;
      white-space: nowrap;
    }
  }

  &-header {
    padding: 4rem 0;

    &__divider--grey {
      @include dividerSpan(100%, 0.1rem, $grey);
    }

    &__title {
      font-size: 2.2rem;
    }
  }
}
