@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-size: 16px;
  font-family: $popins;
  @include borderPage($thicknessBorderPage, $borderBoxColor);

  @media (max-width: $telephone) {
    @include borderPage(0, $borderBoxColor);
  }

}

.author {
  padding: 8rem 8rem 4.5rem 8rem;
  width: 70%;

  @media (max-width: $telephone) {
    padding: 4rem 1rem 0 1rem;
    width: 100%;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;

    @media (max-width: $telephone) {
      font-size: 0.9rem;
      line-height: 1.625rem;
    }

  }

  &__image {
    position: absolute;
    width: 7.1rem;
    height: 7.1rem;
    border-radius: 50%;

    @media (max-width: $telephone) {
      width: 4.2rem;
      height: 4.2rem;
    }
    
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
    font-size: 1.2rem;

    @media (max-width: $telephone) {
      font-size: 0.9rem;
      line-height: 1.625rem;
      font-weight: 300;
    }

    &--padding {
      padding-top: 3.5rem;

      @media (max-width: $telephone) {
        padding-top: 2.5rem;
      }
    }

  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;

    @media (max-width: $telephone) {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

  }

  &__photo {
    width: 8rem;
    height: 8rem;
    border: 4px solid $grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $telephone) {
      width: 5rem;
      height: 5rem;
      border: 3px solid $grey;
    }

  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
    
  }

  &__welcome {
    font-size: 2.5rem;
    line-height: 3.5rem;

    @media (max-width: $telephone) {
      font-size: 1.6rem;
      line-height: 2.25rem;
    }
  }
}

.footer {
  background-color: $borderBoxColor;
  color: $white;
  padding: 8rem;

  @media (max-width: $telephone) {
    padding: 8rem 1rem;
    width: 100%;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 2.1rem;
    width: 40%;

    @media (max-width: $telephone) {
      width: 80%;
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
  }

  &__divider span {
    @include dividerSpan(5rem, 0.4rem, $blueLinkColor);
    @media (max-width: $telephone) {
      @include dividerSpan(3.5rem, 0.2rem, $blueLinkColor);
    }

  }

  &__item {
    display: inline;
    font-size: 2rem;
    margin-right: 24px;

    &--white {
      color: $white;
    }

    @media (max-width: $telephone) {
      font-size: 2rem;
      margin-right: 1.5rem;
    }
  }

  &__link {
    color: $blueLinkColor;
    line-break: 24px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__mail {
    color: $blueLinkColor;
    text-decoration: none;
    margin-bottom: 0;
    @media (max-width: $telephone) {
      font-size: 0.9rem;
    }
  }

  &__title {
    font-size: 2rem;
    @media (max-width: $telephone) {
      font-size: 1.2rem;
    }
  }

  &__underline {
    border-bottom: 2px solid $blueLinkColor;
  }
}

.links__separator {
  margin: 24dp;
}

.projects {
  padding: 8rem;
  background-color: $greyProjectsBackground;

  @media (max-width: $telephone) {
    padding: 4rem 1rem;
    width: 100%;
  }

  &__about {
    padding: 3rem;

    @media (max-width: $telephone) {
      padding: 2rem;
    }

  }

  &__description {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 1rem 0 4rem 0;
    color: $darkGrey;

    @media (max-width: $telephone) {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0;
    }

  }
  
  &__divider {
    @include dividerVertical(2rem, $grey);
  }

  &__footer {
    background-color: $greyProjectsBackground;
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 0.5rem 0.5rem;
    @media (max-width: $telephone) {
      padding: 0.6rem 2rem;
      
    }

  }

  &__image {
    margin: 0 0.4rem 0 0;
  }

  &__info {
      font-size: 1.3rem;
      line-height: 2.1rem;
      font-weight: 300;
      color: $darkGrey;

      @media (max-width: $telephone) {
        font-size: 0.9rem;
        line-height: 1.6rem;
        text-align: center;
      }
  }

  &__item {
    background-color: $white;
    @include borderProjectsCard;
    margin: 1.4rem 0 1.4rem 0;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $telephone) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    color: $blueLinkColor;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    &--center {
      padding: 0rem 1.2rem;
    }

    &--inactive {
      cursor: not-allowed;
      opacity: 0.5;
      text-decoration: line-through;
      pointer-events: none;
    }
    
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (max-width: $telephone) {
      display: flex;
      flex-flow: column;
      }
  }

  &__title {
    font-size: 2.2rem;

    @media (max-width: $telephone) {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
    }
  }
  
  &__name {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-style: normal;

    @media (max-width: $telephone) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.skills {
  padding: 8rem;

  @media (max-width: $telephone) {
    padding: 4rem 1rem;
    width: 100%;
  }

  &-content {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 2fr 2fr;

    @media (max-width: $telephone) {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr;

    }

    &__divider {

      @media (max-width: $telephone) {
        margin-bottom: 2.5rem;
      }

      &--green {
        @include dividerSpan(5rem, 0.4rem, $green);

        @media (max-width: $telephone) {
          @include dividerSpan(3.5rem, 0.2rem, $green);
          
        }

      }

      &--blue {
        @include dividerSpan(5rem, 0.4rem, $blue);

        @media (max-width: $telephone) {
          @include dividerSpan(3.5rem, 0.2rem, $blue);
        }
      }

      &--violet {
        @include dividerSpan(5rem, 0.4rem, $violet);
        @media (max-width: $telephone) {
          @include dividerSpan(3.5rem, 0.2rem, $violet);
        }
      }

    }    

    &__image {
      position: relative;
      top: 0.2rem;
      width: 1.2rem;
      height: 1.2rem;

      @media (max-width: $telephone) {
        top: 0.1rem;
        width: 0.8rem;
        height: 0.8rem;
      }

    }
    
    &__item {
      width: 50%;
      font-size: 1.1rem;
      line-height: 2.5rem;


      @media (max-width: $telephone) {
        width: 100%;
        font-size: 0.9rem;
        line-height: 2.2rem;
      }

    }

    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;

      @media (max-width: $telephone) {
        font-size: 0.9rem;
        line-height: 2.2rem;  
      }
      
    }

    &__title {
      font-size: 2rem;
      white-space: nowrap;

      @media (max-width: $telephone) {
        font-size: 1.2rem;
      }
    }
  }

  &-header {
    padding: 4rem 0;

    &__divider--grey {
      @include dividerSpan(100%, 0.1rem, $grey);
    }

    &__title {
      font-size: 2.2rem;

      @media (max-width: $telephone) {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        text-align: center;
      }
    }
    
  }
}
